{% if lists %}
    <ul>
    {% for list in lists %}
    <li>{{ list.list_text }}</li>
    <a href="{% url 'testapp:remv' list.id %}">delete</a>
    <a href="{% url 'testapp:editpage' list.id %}">edit</a>
    <br>
    {% endfor %}
    </ul>
{% else %}
    <p>no items available</p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <b{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</b>
    {% endfor %}
</ul>
{% endif %}

<form action = "{% url 'testapp:submit' %}" method = "post">
    {% csrf_token %}
    <label for="text">add text to list</label>
    <input id="text" type="text" name="text">
    <input type="submit" value="add">
    </form>